@model IEnumerable<Advance_Furniture.Models.Stock>

@{
    ViewData["Title"] = "ViewIndex";
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        { 
        <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
        <hr/>
        <h3>@Html.DisplayFor(modelItem => item.Qty)</h3>
        }
        </div>

</div>
