
@{
    ViewData["Title"] = "inCorrect";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="https://e7.pngegg.com/pngimages/278/860/png-clipart-red-x-illustration-check-mark-cross-red-tick-cross-miscellaneous-angle.png" class="card-img-top"/>
        <br/>
            <a href="@Url.Action("Create","Logins")" class="btn btn-primary btn-lg">Back to Login for Try Again</a>

        </div>
    </div>
</div>

